@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin colwidth {
  @for $size from 1 through $cols {
    @for $length from $size through $cols {
      @if $size != $length or $size == 1 {
        .col-#{$size}-of-#{$length} {
          width: calc-col-width($size, $length);
        }
      }
    }
  }
}